$white-color: #fff;
$view-color: #05a;
$text-color: #767676;
$organ-color: #ff4500;


.fa-facebook.icon {
    color: #3b5999;
}

.product_contaner {
    background-color: #eee;
    margin-top: 120px;
}

/* Tiêu đề sản phẩm */
.product_contaner-header {
    font-size: 16px;
    margin: 0 0 12px;

    .product_header-text {
        text-decoration: none;
        color: $view-color;
    }

    i {
        margin: 6px;
        color: $view-color;
    }
}

/* Nội dung */
.product_introduce {
    display: flex;
    background-color: $white-color;
    margin-top: 16px;
    padding: 16px;
}

/* Silder nội dung */
.product_introduce-slider {
    width: 450px;
    margin: 8px 8px;

    .introduce-slider--big img {
        width: 450px;
        height: 450px;
    }

    .introduce-slider--small {
        display: flex;
    }

    .introduce-slider--small-items {
        width: 82px;
        height: 82px;
        margin: 6px 4px;
    }

    .product_introduce-slider--media {
        display: flex;
        justify-content: space-around;
        margin: 12px 0;

        // Các quy tắc CSS khác

        .product_introduce-slider--liked {
            .fa-heart {
                color: $organ-color;
            }

            .liked {
                color: #000;

            }
        }
    }
}

/* Phần bên phải nội dung */
.product_introduce-right {
    margin: 20px 12px;

    .product_introduce-header {
        font-size: 20px;
        margin: 12px 0 16px;

        .introduce-header-iuthich {
            background-color: $view-color;
            color: $white-color;
            font-size: 12px;
            padding: 4px;
            margin-right: 4px;
            border-radius: 2px;
        }

        .introduce-header--name {
            font-weight: 700;
        }

        .product_introduce-vote {
            display: flex;
            justify-content: space-between;

            .product_introduce-vote-list {
                display: flex;

                .product_introduce-vote-items {
                    display: flex;
                    margin: 0 16px;

                    .product_introduce-vote-items .product_introduce-vote-star {
                        color: $view-color;
                    }

                    .product_introduce-vote-text {
                        text-decoration: none;
                        font-size: 17px;
                        margin-right: 3px;
                        color: $text-color;

                        span {
                            font-size: 14px;
                            color: $text-color;
                        }
                    }

                    .product_introduce-vote a {
                        text-decoration: none;
                        color: $text-color;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/* Giá */
.product_introduce-price {
    background-color: #f5f5f5;
    margin-top: 16px;

    .product_introduce-price-content {
        margin: 14px 18px;
        padding-bottom: 14px;
        padding-top: 28px;

        .product_introduce-price-sale {
            margin-bottom: 14px;

            .introduce-price__new {
                font-size: 24px;
                color: $organ-color;
                font-weight: 700;
            }
        }
    }
}

/* Mua sản phẩm */
.product_introduce-buy {
    margin: 28px 20px;
    display: flex;
    flex-direction: column;

    .introduce__name {
        color: #757575;
        font-size: 14px;
        line-height: 20px;
        width: 130px;
        flex-shrink: 0;
    }

    .fa-circle-chevron-down {
        margin-left: 4px;
    }

    .introduce-deal {
        display: flex;
        margin: 6px 0;
    }

    .introduce__title {
        display: flex;
        justify-content: center;
        align-items: center;

        .introduce__title-freeimg {
            width: 25px;
            margin-right: 8px;
        }
    }

    .introduce-color {
        display: flex;
        margin: 6px 0;

        .introduce-color__items {
            flex-wrap: wrap;

            .introduce-color__btn {
                background-color: $white-color;
                border: 1px solid #f0f0f0;
                border-radius: 2px;
                padding: 6px 8px;
                margin: 0px 8px 4px 0px;
                border-radius: 4px;

                &:hover {
                    cursor: pointer;
                    color: $view-color;
                    border: 1px solid $view-color;
                }
            }
        }
    }

    .introduce-sl {
        display: flex;
        margin: 10px 0;
    }

    .introduce-nb {
        display: flex;

        input {
            width: 30px;
            text-align: center;
            border-top: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
            border-left: none;
            border-right: none;
            cursor: text;
            -webkit-appearance: none;

            &:focus {
                outline: none;
            }
        }

        button {
            width: 30px;
            text-align: center;
            border: 1px solid #f0f0f0;
            border-radius: 2px;
            -webkit-appearance: none;
            background-color: $white-color;
        }
    }

    .introduce-have {
        margin-left: 14px;
        font-size: 14px;
        color: #757575;
    }

    .introduce-buy {
        display: flex;
        margin: 16px 0;

        .introduce-buy-add {
            width: 219px;
            height: 48px;
            text-align: center;
            background-color: #ffeee8;
            border: 1px solid $view-color;
            margin-right: 10px;
            color: $view-color;

            &:hover {
                cursor: pointer;
                background-color: rgba(255, 197, 178, 0.181);
            }
        }

        .introduce-buy-click {
            width: 114px;
            height: 48px;
            text-align: center;
            color: #fff;
            position: relative;
            overflow: visible;
            outline: 0px;
            background: #ee4d2d;
            border: none;

            &:hover {
                cursor: pointer;
                background: #f05d40;
            }
        }
    }
}

.fa-facebook.icon {
    color: #3b5999;
}

.product_contaner {
    background-color: #eee;
    margin-top: 120px;
}

/* Tiêu đề sản phẩm */
.product_contaner-header {
    font-size: 16px;
    margin: 0 0 12px;

    .product_header-text {
        text-decoration: none;
        color: $view-color;
    }

    i {
        margin: 6px;
        color: $view-color;
    }
}

/* Nội dung */
.product_introduce {
    display: flex;
    background-color: $white-color;
    margin-top: 16px;
    padding: 16px;
}

/* Silder nội dung */
.product_introduce-slider {
    width: 450px;
    margin: 8px 8px;

    .introduce-slider--big img {
        width: 450px;
        height: 450px;
    }

    .introduce-slider--small {
        display: flex;
    }

    .introduce-slider--small-items {
        width: 82px;
        height: 82px;
        margin: 6px 4px;
    }

    .product_introduce-slider--media {
        display: flex;
        justify-content: space-around;
        margin: 12px 0;

        // Các quy tắc CSS khác

        .product_introduce-slider--liked {
            .fa-heart {
                color: $organ-color;
            }

            .liked {
                color: #000;

            }
        }
    }
}

/* Phần bên phải nội dung */
.product_introduce-right {
    margin: 20px 12px;

    .product_introduce-header {
        font-size: 20px;
        margin: 12px 0 16px;

        .introduce-header-iuthich {
            background-color: $view-color;
            color: $white-color;
            font-size: 12px;
            padding: 4px;
            margin-right: 4px;
            border-radius: 2px;
        }

        .introduce-header--name {
            font-weight: 700;
        }

        .product_introduce-vote {
            display: flex;
            justify-content: space-between;

            .product_introduce-vote-list {
                display: flex;

                .product_introduce-vote-items {
                    display: flex;
                    margin: 0 16px;

                    .product_introduce-vote-items .product_introduce-vote-star {
                        color: $view-color;
                    }

                    .product_introduce-vote-text {
                        text-decoration: none;
                        font-size: 17px;
                        margin-right: 3px;
                        color: $text-color;

                        span {
                            font-size: 14px;
                            color: $text-color;
                        }
                    }

                    .product_introduce-vote a {
                        text-decoration: none;
                        color: $text-color;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/* Giá */
.product_introduce-price {
    background-color: #f5f5f5;
    margin-top: 16px;

    .product_introduce-price-content {
        margin: 14px 18px;
        padding-bottom: 14px;
        padding-top: 28px;

        .product_introduce-price-sale {
            margin-bottom: 14px;

            .introduce-price__new {
                font-size: 24px;
                color: $organ-color;
                font-weight: 700;
            }
        }
    }
}

/* Mua sản phẩm */
.product_introduce-buy {
    margin: 28px 20px;
    display: flex;
    flex-direction: column;

    .introduce__name {
        color: #757575;
        font-size: 14px;
        line-height: 20px;
        width: 130px;
        flex-shrink: 0;
    }

    .fa-circle-chevron-down {
        margin-left: 4px;
    }

    .introduce-deal {
        display: flex;
        margin: 6px 0;
    }

    .introduce__title {
        display: flex;
        justify-content: center;
        align-items: center;

        .introduce__title-freeimg {
            width: 25px;
            margin-right: 8px;
        }
    }

    .introduce-color {
        display: flex;
        margin: 6px 0;

        .introduce-color__items {
            flex-wrap: wrap;

            .introduce-color__btn {
                background-color: $white-color;
                border: 1px solid #f0f0f0;
                border-radius: 2px;
                padding: 6px 8px;
                margin: 0px 8px 4px 0px;
                border-radius: 4px;

                &:hover {
                    cursor: pointer;
                    color: $view-color;
                    border: 1px solid $view-color;
                }
            }
        }
    }

    .introduce-sl {
        display: flex;
        margin: 10px 0;
    }

    .introduce-nb {
        display: flex;

        input {
            width: 30px;
            text-align: center;
            border-top: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
            border-left: none;
            border-right: none;
            cursor: text;
            -webkit-appearance: none;

            &:focus {
                outline: none;
            }
        }

        button {
            width: 30px;
            text-align: center;
            border: 1px solid #f0f0f0;
            border-radius: 2px;
            -webkit-appearance: none;
            background-color: $white-color;
        }
    }

    .introduce-have {
        margin-left: 14px;
        font-size: 14px;
        color: #757575;
    }

    .introduce-buy {
        display: flex;
        margin: 16px 0;

        .introduce-buy-add {
            width: 219px;
            height: 48px;
            text-align: center;
            background-color: #ffeee8;
            border: 1px solid $view-color;
            margin-right: 10px;
            color: $view-color;

            &:hover {
                cursor: pointer;
                background-color: rgba(255, 197, 178, 0.181);
            }
        }

        .introduce-buy-click {
            width: 114px;
            height: 48px;
            text-align: center;
            color: #fff;
            position: relative;
            overflow: visible;
            outline: 0px;
            background: #ee4d2d;
            border: none;

            &:hover {
                cursor: pointer;
                background: #f05d40;
            }
        }
    }
}

/* Thông tin người bán */
.product_info {
    display: block;
    align-items: center;
    background-color: $white-color;
    margin-top: 16px;
    padding: 16px;
    width: 100%;

    .product_info-avt {
        display: flex;
        padding-right: 24px;
        border-right: 1px solid #ccc;
        width: 400px;

        a {
            flex-shrink: 0;
            margin-right: 1.25rem;
            position: relative;
            overflow: visible;
            outline: 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product_info-avt--img {
            width: 88px;
            height: 88px;
            border-radius: 99999px;
        }

        .product_info-avt--iuthich {
            position: absolute;
            bottom: 0;
            line-height: 14px;
            padding: 2px;
            font-size: 12px;
            background-color: $view-color;
            color: $white-color;
            border-radius: 2px;
        }

        .product_info-avt--name-shop {
            font-weight: 400;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.87);
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .product_info-avt--name-acti {
            font-size: 0.875rem;
            color: rgba(0, 0, 0, 0.54);
            text-transform: capitalize;
            margin: 4px 0 6px;
        }

        .product_info-avt--name-btn {
            margin: 4px 0;
        }

        .product_info-avt--name-btn__chat {
            width: 100px;
            height: 30px;
            text-align: center;
            background-color: #ffeee8;
            border: 1px solid $view-color;
            margin-right: 10px;
            color: $view-color;

            &:hover {
                background-color: #e4e4e4;
                cursor: pointer;
            }
        }

        .product_info-avt--name-btn__seen {
            width: 100px;
            height: 30px;
            background-color: $white-color;
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-radius: 2px;
            padding: 6px 8px;
            border-radius: 4px;

            &:hover {
                background-color: rgb(232, 232, 232);
                cursor: pointer;
            }
        }
    }

    .product_info-text {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px 19px;
        gap: 20px 90px;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.4);
        width: 700px;
    }

    .product_info-text-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        width: 100%;
    }

    .product_info-text--name {
        margin-right: 20px;
        color: rgba(0, 0, 0, 0.4);
    }

    .product_info-text--value {
        color: $view-color;
        white-space: nowrap;
        text-align: right;
    }
}

.table-label {
    display: table-cell;
    padding-left: 0 !important;
    font-weight: 600;
    line-height: 1.6;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    color: #777;
    font-size: 14px;
}

.data_publish_year {
    font-size: 14px;
}

.table-note {
    padding: 0px;
    font-size: 14px;
}

.product-information {
    border-bottom: 1px solid #777;
}

.product-info-short {}